*
!/.gitignore
!/custom_components/
!/custom_components/azrouter/
!/custom_components/azrouter/**
!/docs/
!/docs/**
!/README.md
!/CHANGELOG.md
!/LICENSE
!/hacs.json
!/.github/
!/.github/workflows/
!/.github/workflows/**
